<p id="notice"><%= notice %></p>

<p>
  <strong>Agencia:</strong>
  <%= @bank.agencia %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @bank.endereco %>
</p>

<%= link_to 'Edit', edit_bank_path(@bank) %> |
<%= link_to 'Back', banks_path %>
