<p id="notice"><%= notice %></p>

<h1><%= t('agencies') %></h1>
<p> <%= t('language') %> <strong><%= locale %></strong> </p>
<p><strong>Data: <%= I18n.l(Date.today) %> </strong></p>
<p><%= t('agencies') %> </p>

<table>
  <thead>
    <tr>
      <th><%= t('agency_nu') %></th>
      <th><%= t('address') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @agencies.each do |agency| %>
      <tr>
        <td><%= agency.agency_number %></td>
        <td><%= agency.endereco %></td>
        <td><%= link_to t('links.show'), agency %></td>
        <td><%= link_to t('links.edit'), edit_agency_path(agency) %></td>
        <td><%= link_to t('links.delete'), agency, method: :delete, data: { confirm: t('confirmation') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t("New Agency"), new_agency_path %>
