<p id="notice"><%= notice %></p>

<p class="lead">
  <strong><%= t('agency_nu') %></strong>
  <%= @agency.agency_number %>
</p>

<p class="lead">
  <strong><%= t('address') %></strong>
  <%= @agency.endereco %>
</p class="lead">

<%= link_to t('links.edit'), edit_agency_path(@agency) ,class:"btn btn-primary"%> 
<%= link_to t('links.back'), agencies_path ,class:"btn btn-primary"%>

