<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('agency_nu') %></strong>
  <%= @agency.agency_number %>
</p>

<p>
  <strong><%= t('address') %></strong>
  <%= @agency.endereco %>
</p>

<%= link_to t('links.edit'), edit_agency_path(@agency) %> |
<%= link_to t('links.back'), agencies_path %>
<%= link_to 'Cadastraruma Conta para este Banco', new_bank_account_path %>
