<%= form_with(model: bank_account, local: true) do |form| %>
  <% if bank_account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bank_account.errors.count, "error") %> prohibited this bank_account from being saved:</h2>

      <ul class="list-group">
      <% bank_account.errors.full_messages.each do |message| %>
        <li class="list-group-item list-group-item-danger"><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :agency_id ,class:"form-check-label"%>
    <%= form.select("agency_id",@agency_number_options, {include_blank: 'Selecione uma Agencia'}) %>
  </div>

  <div class="field form-group">
    <%= form.label :account_number ,class:"form-check-label"%>
    <%= form.text_field :account_number, id: :bank_account_account_number ,class:"form-control"%>
  </div>

  <div class="field form-group">
    <%= form.label :limit ,class:"form-check-label"%>
    <%= form.text_field :limit, id: :bank_account_limit ,class:"form-control"%>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
