<%= form_with(model: bank_account, local: true) do |form| %>
  <% if bank_account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bank_account.errors.count, "error") %> prohibited this bank_account from being saved:</h2>

      <ul>
      <% bank_account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :agency_id %>
    <%= form.select("agency_id",@agency_number_options, {include_blank: 'Selecione uma Agencia'}) %>
  </div>

  <div class="field">
    <%= form.label :account_number %>
    <%= form.text_field :account_number, id: :bank_account_account_number %>
  </div>

  <div class="field">
    <%= form.label :limit %>
    <%= form.text_field :limit, id: :bank_account_limit %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
