<p id="notice"><%= notice %></p>

<p class="lead">
  <strong><%= t("agency") %>:</strong>
  <%= @bank_account.agency_id %>
</p>

<p class="lead">
  <strong><%= t("Account number") %></strong>
  <%= @bank_account.account_number %>
</p>

<p class="lead">
  <strong><%= t("limit") %></strong>
  <%= @bank_account.limit %>
</p>

<%= link_to 'Edit', edit_bank_account_path(@bank_account) ,class:"btn btn-primary"%>
<%= link_to 'Back', bank_accounts_path ,class:"btn btn-primary"%>
