<p id="notice"><%= notice %></p>

<p>
  <strong>Agency:</strong>
  <%= @bank_account.agency_id %>
</p>

<p>
  <strong>Account number:</strong>
  <%= @bank_account.account_number %>
</p>

<p>
  <strong>Limit:</strong>
  <%= @bank_account.limit %>
</p>

<%= link_to 'Edit', edit_bank_account_path(@bank_account) %> |
<%= link_to 'Back', bank_accounts_path %>
